@import "tailwindcss";

.scroll-container {
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1 !important; }
}

.fadeMe {
  animation: fadeIn 1s ease-in-out;
}

@keyframes scaleIn {
  from { transform: scale(0);}
  to { transform: scale(1); }
}

.jumpMe {
  animation: scaleIn 0.3s ease-in-out;
}

@keyframes scaleOut {
  from { transform: scale(1);}
  to { transform: scale(0); }
}

.hideMe {
  transform: scale(0);
  animation: scaleOut 0.3s ease-in-out;
}